<div class="VStack items-center justify-center h-40 mt-10">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="23"
    height="24"
    viewBox="0 0 23 24"
    fill="none"
    onclick="window.scrollTo({top: 0, behavior: 'smooth'});"
  >
    <path
      d="M11.5 2.10049L16.4497 7.05024C19.1834 9.78391 19.1834 14.2161 16.4497 16.9497C13.7161 19.6834 9.28392 19.6834 6.55025 16.9497C3.81658 14.2161 3.81658 9.78391 6.55025 7.05024L11.5 2.10049Z"
      stroke="url(#paint0_linear_249_628)"
      stroke-width="2"
    />
    <defs>
      <linearGradient
        id="paint0_linear_249_628"
        x1="11.5"
        y1="-0.500001"
        x2="11.5"
        y2="23"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.377102" stop-color="#0666B0" />
        <stop offset="1" stop-color="#0666B0" stop-opacity="0" />
      </linearGradient>
    </defs>
  </svg>
</div>
