<% const gallery = [] %>
<% let data = row.content.split(",");  %>
<%  data.forEach(function(item){ gallery.push(item)}) %>
<% console.log(gallery)%>
<div class="container mx-auto px-5 py-2 lg:px-32 lg:pt-24">
    <div class="-m-1 flex flex-wrap md:-m-2">
      <div class="flex w-full flex-wrap">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center"
            src="<%= gallery[0] ? gallery[0] : '' %>" />
          </div>
        <div class="w-1/2 p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center"
            src="<%= gallery[1] ? gallery[1] : '' %>" />
          </div>
        <div class="w-1/2 p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center"
            src="<%= gallery[2] ? gallery[2] : '' %>" />
          </div>
      </div>
    </div>
  </div>