<div class="sticky top-0 bg-white mb-10">
  <section
    class="font-primary w-full HStack items-center justify-between h-16 p-5"
  >
    <div>
      <p class="text-lg font-bold">
        ALS Manager
        <span class="caption text-xs font-normal align-top">beta 1.1</span>
      </p>
    </div>
    
    <div class="HStack gap-10">
      <div class="hover:opacity-60">
        <a
          class="w-80 text-center h-12 rounded-full text-white bg-blue-400 justify-center HStack items-center"
          href="https://docs.google.com/spreadsheets/d/1dIyKAk9HKu8-FYuxa0KsleNPU-ZCfoHa/edit?usp=sharing&ouid=112257128875370093836&rtpof=true&sd=true"
          download="JetLinTemplate"
        >
          <img
            src="https://download.logo.wine/logo/Microsoft_Excel/Microsoft_Excel-Logo.wine.png"
            alt=""
            class="w-15 h-10"
          />
  
          <button type="button" class="font-semibold">Get template now</button>
        </a>
      </div>
  
    </div>
    
  </section>
  <div class="section-break"></div>
</div>
